# oItsMineZKernel Config File for Samsung Galaxy S10 5G (beyondx)
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

CONFIG_MODEL_BEYONDX=y
# CONFIG_KZEROD is not set
CONFIG_VMPRESSURE_LEVEL_MED=60
# CONFIG_FAULT_AROUND_4KB is not set
CONFIG_CMA_SIZE_MBYTES=60
CONFIG_ARM64_SW_TTBR0_PAN=y
# CONFIG_NET_SUPPORT_DROPDUMP is not set
# CONFIG_NETPM is not set
# CONFIG_SEC_SIPC_MODEM_IF is not set
CONFIG_SEC_MODEM_S5100=y
CONFIG_BOOT_DEVICE_SPI=y
CONFIG_LINK_POWER_MANAGEMENT=y
# CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM is not set
CONFIG_LINK_DEVICE_PCIE=y
CONFIG_UMTS_MODEM_S5100=y
CONFIG_SEC_SIPC_DUAL_MODEM_IF=y
CONFIG_CP_PKTPROC_V2=y
CONFIG_MUIC_UART_SWITCH=y
CONFIG_EXYNOS_DSIM_DITHER=y
# CONFIG_KEYBOARD_STM_FSR is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y
# CONFIG_TOUCHSCREEN_SEC_TS_Y771_D is not set
# CONFIG_INPUT_WACOM is not set
# CONFIG_EPEN_WACOM_W9020 is not set
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_CAMERA_CIS_3M5_OBJ is not set
# CONFIG_CAMERA_CIS_4HA_OBJ is not set
CONFIG_CAMERA_CIS_IMX316_OBJ=y
# CONFIG_CAMERA_DNS_V01 is not set
# CONFIG_CAMERA_BSS_V00 is not set
# CONFIG_CAMERA_BSS_V01 is not set
# CONFIG_CAMERA_BSS_V02 is not set
CONFIG_CAMERA_BSS_V00X=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y

#
# Tools to develop new frontends
#
CONFIG_TDMB=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8080=y
# CONFIG_TDMB_VENDOR_RAONTECH is not set
# CONFIG_TDMB_QUALCOMM is not set
CONFIG_TDMB_SLSI=y
CONFIG_TDMB_SPI=y
# CONFIG_TDMB_EBI is not set
# CONFIG_TDMB_TSIF_SLSI is not set
# CONFIG_TDMB_TSIF_QC is not set
# CONFIG_TDMB_I2C is not set
CONFIG_TDMB_XTAL_FREQ=y
# CONFIG_TDMB_DEBUG is not set
# CONFIG_TDMB_ANT_DET is not set
# CONFIG_TDMB_VREG_SUPPORT is not set
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
# CONFIG_EXYNOS_FREQ_HOP is not set
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y
CONFIG_COMBO_REDRIVER_PTN36502=y
# CONFIG_SENSORS_MAX86915 is not set
CONFIG_SENSORS_TCS3407=y
# CONFIG_ANDROID_TIMED_OUTPUT is not set
# CONFIG_MOTOR_CS40L2X is not set
CONFIG_SENSORS_QBT2000=y
# CONFIG_SENSORS_ET5XX is not set
CONFIG_SND_SOC_SAMSUNG_BEYOND_MADERA=y
# CONFIG_SND_SOC_SAMSUNG_D_MADERA is not set
CONFIG_SND_SOC_SAMSUNG_SYSFS_EARJACK=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1C00000
# CONFIG_SEC_ABC_HUB_COND_DAVINCI is not set
CONFIG_EXTCON_MADERA=y
CONFIG_EXTCON_MADERA_INPUT_EVENT=y
# CONFIG_WIRELESS_IC_PARAM is not set
# CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED is not set
# CONFIG_SENSORS_SSP_TMD4907 is not set
CONFIG_SENSORS_SX9330=y
# CONFIG_SENSORS_SX9360 is not set
CONFIG_SENSORS_SSP_BEYOND=y
# CONFIG_SENSORS_SSP_DAVINCI is not set
# CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF is not set
CONFIG_MOTOR_DRV_MAX77705=y
CONFIG_SEC_HAPTIC=y
# CONFIG_VIB_NOTIFIER is not set
# CONFIG_SEC_NAD_BPS_CLASSIFIER is not set
# CONFIG_SEC_SYSUP is not set
CONFIG_WLAN_REGION_CODE=100
# CONFIG_SUPPORT_POC_SPI is not set
# CONFIG_DYNAMIC_FREQ is not set
# CONFIG_SUPPORT_MCC_THRESHOLD_CHANGE is not set
# CONFIG_CAMERA_CIS_IMX516_OBJ is not set
# CONFIG_CAMERA_DNS_V02 is not set
# CONFIG_AVOID_TSP_NOISE is not set
# CONFIG_WIRELESS_CHARGER_MFC_S2MIW04 is not set
# CONFIG_WIRELESS_CHARGER_HAL_MFC is not set
# CONFIG_MFC_LDO_COMMAND is not set
# CONFIG_AVOID_TSP_NOISE is not set
# CONFIG_WIRELESS_CHARGER_MFC_S2MIW04 is not set
# CONFIG_WIRELESS_CHARGER_HAL_MFC is not set
