# oItsMineZKernel Config File for Samsung Galaxy Note10+ 5G (d2x)
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

CONFIG_SOC_EXYNOS9825=y
CONFIG_MODEL_D2X=y
CONFIG_NET_SUPPORT_DROPDUMP=y
# CONFIG_NETPM is not set
CONFIG_CMA_SIZE_MBYTES=64
# CONFIG_SEC_SIPC_MODEM_IF is not set
CONFIG_SEC_MODEM_S5100=y
CONFIG_BOOT_DEVICE_SPI=y
CONFIG_LINK_POWER_MANAGEMENT=y
# CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM is not set
CONFIG_LINK_DEVICE_PCIE=y
CONFIG_UMTS_MODEM_S5100=y
CONFIG_SEC_SIPC_DUAL_MODEM_IF=y
CONFIG_CP_PKTPROC_V2=y
CONFIG_MUIC_UART_SWITCH=y
CONFIG_WLAN_REGION_CODE=100
CONFIG_KEYBOARD_STM_FSR=y
# CONFIG_TOUCHSCREEN_SEC_TS_Y771 is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y771_D=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9020=y
CONFIG_MEDIA_RADIO_SUPPORT=y
# CONFIG_CAMERA_CIS_3M3_OBJ is not set
CONFIG_CAMERA_CIS_3M5_OBJ=y
# CONFIG_CAMERA_CIS_4HA_OBJ is not set
CONFIG_CAMERA_CIS_IMX316_OBJ=y
CONFIG_CAMERA_CIS_IMX516_OBJ=y
# CONFIG_CAMERA_BSS_V00 is not set
# CONFIG_CAMERA_BSS_V01 is not set
# CONFIG_CAMERA_BSS_V02 is not set
# CONFIG_CAMERA_BSS_V00X is not set
# CONFIG_CAMERA_DNS_V01 is not set
CONFIG_CAMERA_DNS_V02=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y

#
# Supported MMC/SDIO adapters
#
CONFIG_RADIO_ADAPTERS=y
# CONFIG_RADIO_SI470X is not set
# CONFIG_RADIO_SI4713 is not set
CONFIG_RADIO_RTC6213N=y
CONFIG_I2C_RTC6213N=y
# CONFIG_USB_MR800 is not set
# CONFIG_USB_DSBR is not set
# CONFIG_RADIO_MAXIRADIO is not set
# CONFIG_RADIO_SHARK is not set
# CONFIG_RADIO_SHARK2 is not set
# CONFIG_USB_KEENE is not set
# CONFIG_USB_RAREMONO is not set
# CONFIG_USB_MA901 is not set
# CONFIG_RADIO_TEA5764 is not set
# CONFIG_RADIO_SAA7706H is not set
# CONFIG_RADIO_TEF6862 is not set
# CONFIG_RADIO_WL1273 is not set

CONFIG_MEDIA_ATTACH=y

#
# Sensors used on soc_camera driver
#
CONFIG_MEDIA_TUNER=y
CONFIG_MEDIA_TUNER_SIMPLE=y
CONFIG_MEDIA_TUNER_TDA8290=y
CONFIG_MEDIA_TUNER_TDA827X=y
CONFIG_MEDIA_TUNER_TDA18271=y
CONFIG_MEDIA_TUNER_TDA9887=y
CONFIG_MEDIA_TUNER_TEA5761=y
CONFIG_MEDIA_TUNER_TEA5767=y
CONFIG_MEDIA_TUNER_MT20XX=y
CONFIG_MEDIA_TUNER_XC2028=y
CONFIG_MEDIA_TUNER_XC5000=y
CONFIG_MEDIA_TUNER_XC4000=y
CONFIG_MEDIA_TUNER_MC44S803=y

# CONFIG_TDMB is not set
CONFIG_EXYNOS_MULTIRESOLUTION=y
# CONFIG_EXYNOS_DSIM_DITHER is not set
# CONFIG_EXYNOS_ADAPTIVE_FREQ is not set
CONFIG_EXYNOS_FREQ_HOP=y
CONFIG_AVOID_TSP_NOISE=y
CONFIG_EXYNOS_DECON_LCD_S6E3HA9=y
CONFIG_SUPPORT_ISC_TUNE_TEST=y
CONFIG_SUPPORT_DSU=y
# CONFIG_EXYNOS_DECON_LCD_S6E3FA7 is not set
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_CCD_TEST=y
CONFIG_SUPPORT_DYNAMIC_HLPM=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_DYNAMIC_FREQ=y
# CONFIG_SND_SOC_SAMSUNG_BEYOND_MADERA is not set
CONFIG_SND_SOC_SAMSUNG_D_MADERA=y
# CONFIG_SND_SOC_SAMSUNG_SYSFS_EARJACK is not set
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1E00000
# CONFIG_LEDS_KTD2692 is not set
CONFIG_SEC_ABC_HUB_COND_DAVINCI=y
# CONFIG_EXTCON_MADERA is not set
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_IC_PARAM=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y
CONFIG_COMBO_REDRIVER_PTN36502=y
CONFIG_SENSORS_SSP_TMD4907=y
CONFIG_SENSORS_SX9330=y
CONFIG_SENSORS_SX9360=y
# CONFIG_SUPPORT_MCC_THRESHOLD_CHANGE is not set
# CONFIG_SENSORS_SSP_BEYOND is not set
CONFIG_SENSORS_SSP_DAVINCI=y
CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF=y
# CONFIG_SENSORS_MAX86915 is not set
CONFIG_SENSORS_TCS3407=y
CONFIG_ANDROID_TIMED_OUTPUT=y
CONFIG_MOTOR_CS40L2X=y
# CONFIG_MOTOR_DRV_MAX77705 is not set
# CONFIG_SEC_HAPTIC is not set
CONFIG_VIB_NOTIFIER=y
CONFIG_SENSORS_QBT2000=y
# CONFIG_SENSORS_ET5XX is not set
CONFIG_SEC_NAD_BPS_CLASSIFIER=y
CONFIG_SEC_SYSUP=y
CONFIG_MFC_LDO_COMMAND=y
